### Question 1
"""
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

"""
#### Ans:

In [1]:
def is_symmetrical(num):
    current_num = 0
    reversed_num = 0
    remain_num = num
    while remain_num != 0:
        current_num = remain_num % 10
        reversed_num = reversed_num * 10 + current_num
        remain_num = remain_num // 10
        
    if reversed_num == num:
        print('Num {} is symmetrical'.format(num))
    else:
        print('Num {} is not symmetrical'.format(num))

In [2]:
is_symmetrical(7227)

Num 7227 is symmetrical

In [3]:
is_symmetrical(12567)

Num 12567 is not symmetrical

In [4]:
is_symmetrical(44444444)

Num 44444444 is symmetrical

In [5]:
is_symmetrical(9939)

Num 9939 is not symmetrical

In [6]:
is_symmetrical(1112111)

Num 1112111 is symmetrical

### Question 2
"""
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

"""
#### Ans:

In [7]:
def multiply_num(s):
    s = s.replace(' ',"")
    s = s.split(',')
    product = 1
    for i in s:
        product = product * int(i)
    return product

In [8]:
print("multiply_num('2, 3') = {}".format(multiply_num("2, 3")))
print("multiply_num('1, 2, 3, 4') = {}".format(multiply_num("1, 2, 3, 4")))
print("multiply_num('54, 75, 453, 0') = {}".format(multiply_num("54, 75, 453, 0")))
print("multiply_num('10, -2') = {}".format(multiply_num("10, -2")))

multiply_num('2, 3') = 6
multiply_num('1, 2, 3, 4') = 24
multiply_num('54, 75, 453, 0') = 0
multiply_num('10, -2') = -20

### Question 3
"""
Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

"""
#### Ans:

In [9]:
def square_digits(num):
    updated_lst = []
    for i in str(num):
        x = str(int(i)**2)
        updated_lst.append(x)
    
    return ''.join(updated_lst)

In [10]:
print("square_digits(9119) = {}".format(square_digits(9119)))
print("square_digits(2483) = {}".format(square_digits(2483)))
print("square_digits(3212) = {}".format(square_digits(3212)))

square_digits(9119) = 811181
square_digits(2483) = 416649
square_digits(3212) = 9414

### Question 4
"""
Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

"""
#### Ans:

In [11]:
def setify(lst):
    return list(set(lst))

In [12]:
print("setify([1, 3, 3, 5, 5]) = {}".format(setify([1, 3, 3, 5, 5])))
print("setify([4, 4, 4, 4]) = {}".format(setify([4, 4, 4, 4])))
print("setify([5, 7, 8, 9, 10, 15]) = {}".format(setify([5, 7, 8, 9, 10, 15])))
print("setify([3, 3, 3, 2, 1]) = {}".format(setify([3, 3, 3, 2, 1])))

setify([1, 3, 3, 5, 5]) = [1, 3, 5]
setify([4, 4, 4, 4]) = [4]
setify([5, 7, 8, 9, 10, 15]) = [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) = [1, 2, 3]

### Question 5
"""
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

"""
#### Ans:

In [13]:
def mean(num):
    n = len(str(num))
    sum = 0
    for i in str(num):
        sum = sum + int(i)
    return int(sum/n)

In [14]:
print("mean(42) = {} ".format(mean(42)))
print("mean(12345) = {} ".format(mean(12345)))
print("mean(666) = {} ".format(mean(666)))

mean(42) = 3
mean(12345) = 3
mean(666) = 6